#home-page {
  overflow: hidden;
}

#about-content {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

@keyframes randomMove {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(2px, -3px);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  30% {
    transform: translate(3px, 2px);
  }
  40% {
    transform: translate(-3px, -2px);
  }
  50% {
    transform: translate(2px, -3px);
  }
  60% {
    transform: translate(-2px, 3px);
  }
  70% {
    transform: translate(3px, -3px);
  }
  80% {
    transform: translate(-3px, 3px);
  }
  90% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.react-draggable.react-draggable-dragged {
  z-index: 1;
}

div#about-avatar {
  z-index: 10;
}

img#pp-about {
  width: 150px;
  border-radius: 100%;
  position: absolute;
  right: -77px;
  top: 64px;
  border: 1px solid black;
  z-index: 20000;
  box-shadow: rgb(59, 59, 59) 5px 7px 10px;
  animation: randomMove 45s ease-in-out infinite;
  background-color: rgba(232, 238, 248, 0.6);
  backdrop-filter: blur(1px);
}

.pdf-link {
  position: fixed;
  top: 150px;
  left: 50px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
}

#pdf-ico {
  width: 50px;
  height: auto;
}

.pdf-text {
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
}
