#home-page {
  overflow: hidden;
}

#about-content {
  display: flex;
  flex-direction: row;
}

@keyframes randomMove {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(2px, -3px);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  30% {
    transform: translate(3px, 2px);
  }
  40% {
    transform: translate(-3px, -2px);
  }
  50% {
    transform: translate(2px, -3px);
  }
  60% {
    transform: translate(-2px, 3px);
  }
  70% {
    transform: translate(3px, -3px);
  }
  80% {
    transform: translate(-3px, 3px);
  }
  90% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

img#pp-about\ {
  border-radius: 100%;
  position: absolute;
  top: 100px;
  right: 10%;
  width: 20%;
  height: auto;
  border: 1px solid black;
  z-index: 2;
  box-shadow: rgb(59, 59, 59) 5px 
  7px 10px;
  animation: randomMove 20s ease-in-out infinite;
  background: white;
}

.pdf-link {
  position: absolute;
  top: 8%;
  left: 2%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
}

#pdf-ico {
  width: 50px; /* Ajustez la taille selon vos besoins */
  height: auto;
}

.pdf-text {
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
}

/* @media only screen and (max-width: 430px) {
  #about-content {
    display: block;
    width: 125%;
  }

  #pp-about {
    animation: randomMove 20s ease-in-out infinite;

    width: 40%;
    position: relative;
bottom: -50px;
left: 85px;
  }

} */