.loginScreenPage {
  background-image: url("/images/loginScreen.webp");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.content {
  height: 100%;
}

.loginScreenInsert {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#portfolio {
  top: 0;
  position: absolute;
}

.pp {
  border-radius: 100%;
  border: 2px solid white;
  margin: 12% 0 1%;
  width: 125px;
}

.fullName {
  color: white;
  font-size: 3rem;
  margin: 0;
}

#job {
  margin-bottom: 2%;
}

.password {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  font-size: 1.3rem;
  margin-bottom: 1%;
  width: 15%;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.login-screen-infos-txt {
  color: rgba(255, 255, 255, 0.70);
}

.loginLink {
  color: rgba(255, 255, 255, 0.80);
  font-weight: 500;
  font-size: larger;
  width: auto;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  padding: 5px 10px;
  background: none;
  border: none;
}

.loginLink:hover {
  box-shadow: white 0 0 10px 0;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
  transform: scale(1.05);
}

.password.error {
  border: 3px groove red;
}

.password.error::placeholder {
  color: red;
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.spinner {
  border: 8px dashed #ffffff;
  border-top: 8px dashed transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s steps(10) infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.blur {
  filter: blur(3px) brightness(50%);
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

.welcomeMessage {
  font-size: 3rem;
  font-weight: 600;
  position: fixed;
  color: #ffffff;
  justify-content: center;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 4%;
}
