.loginScreenPage {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: black;
  }
  
  .wallpaper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .loginScreenInsert {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    gap: 35px;
  }
  
  .pp {
    border-radius: 100%;
  }
  
  .fullName {
    color: white;
    font-size: 3rem;
  }
  
.password {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;

  }

  .loginLink {
    color: white;
    width: auto;
    display: flex;
    justify-content:center;
    border-radius: 25px;
    padding: 5px 10px;
    
  }
  
  .loginLink:hover {
    box-shadow: white 0 0 10px 0;
    background-color: white;
    color: rgb(5, 5, 80);
    
}