@media only screen and (max-width: 500px) {
  #btc-price,
  #volume-control,
  #logo-win,
  .pp,
  .fullName,
  .loadingContainer,
  .time,
  .back-arrow,
  .window-controls {
    display: none;
  }
  /* LoginPage */
  .password {
    border-radius: 50px;
  }

  .loginLink {
    position: fixed;
    bottom: 7vw;
  }

  /* HomePage */
  #wallpaper {
    object-fit: cover;
    overflow: hidden;
    height: 100vh;
  }

  .pdf-link {
    top: 120vw;
    left: 15vw;
  }

  #home-button {
    display: flex;
    width: 60px;
  }

  #nav ul li a:hover img {
    transform: scale(1);
  }

  #home-button:hover img {
    box-shadow: rgb(255, 255, 255) 0 0 10px 0;
    border-radius: 50px;
    width: 60px;
  }

  .icon-link {
    min-width: 40px;
  }

  .icon-link::after {
    content: none;
  }

  .timedesktop {
    color: white;
    justify-content: center;
    display: flex;
    width: 100%;
    top: 10%;
    position: fixed;
    font-size: 5em;
  }

  /* windows */
  .window-header {
    background: none;
    color: #333;
  }

  .window-content {
    display: block;
  }

  .typewriter-about {
    max-width: 100vh;
    height: 60vh;
  }

  .typewriter-about span {
    font-size: 0.9em;
  }

  img#pp-about\ {
    top: 393px;
    right: 121px;
    width: 175px;
  }

  .contact-form {
    height: 70vh;
  }

  /* ProjectsPage */

  .project-page {
    height: 100vh;
  }

  .project-header {
    flex-direction: column;
    padding: 0;
    background-color: rgba(244, 244, 244, 0.5);
  }
  .title-project h1 {
    font-size: 5vw;
  }

  a.title-project {
    margin-bottom: 10px;
    background: #f4f4f4;
  }

  #tag-container {
    position: relative;
  }

  .tag {
    font-size: 0.5rem;
  }

  .project-body {
    flex-direction: column;
    margin: 25% 0;
    gap: 0;
  }

  .slideshow-container,
  .typewriter-project-page {
    height: 60vw;
    margin: 0;
  }

  img.nav-slideshow {
    width: 25px;
  }

  .typewriter-project-page {
    height: 90vw;
  }

  .typewriter-project-page span {
    font-size: 0.7em;
  }

  .project-footer {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px;
    background-color: rgba(244, 244, 244, 0.5);
  }
  .github-link {
    position: fixed;
    width: 50px;
    right: 3px;
    top: 3px;
    cursor: pointer;
    border-radius: 50px;
    background: #f4f4f4;
  }

  a#github-ico {
    padding: 0;
  }

  .nav-projects {
    flex-direction: row;
    display: flex;
    width: 100%;
  }

  a.prev-project-button,
  a.next-project-button {
    padding: 2px 7px;

    border: none;
    background-color: #333;
    color: #f4f4f4;
  }

  .back-arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #back-arrow-footer {
    display: flex;
    border: none;
    padding: 2px 7px;
    background-color: #f4f4f4;
    border-radius: 15px;
  }
}
