@media only screen and (max-width: 500px) {
  /* reset css */

  a,
  button,
  .cliquable,
  :hover {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
  }

  #btc-price,
  #volume-control,
  #logo-win,
  .time,
  .back-arrow,
  .window-controls {
    display: none;
  }

  /* LoginPage */
  .loginScreenPage {
    background-image: url("/images/loginScreen_small.webp");
  }

  .loginScreenInsert {
    display: flex;
  }

  #job {
    margin: 5%;
  }

  .pp {
    border-radius: 100%;
    width: 25%;
    border: 2px solid white;
    margin: 40% 0 10%;
  }

  .password {
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    font-size: 1.3rem;
    margin-bottom: 1%;
    margin: 15%;
    width: 75%;
    height: 40px;
    border: none;
  }

  .loginLink {
    position: fixed;
    bottom: 7vw;
  }

  /* HomePage */
  #wallpaper {
    object-fit: cover;
    overflow: hidden;
    height: 100vh;
  }

  .pdf-link {
    top: 120vw;
    left: 15vw;
  }
  #taskbar {
    position: fixed;
    background: rgba(51, 51, 51, 0.75);
    padding: 0;
  }

  #nav ul {
    gap: 3.5vw;
  }

  #home-button {
    display: flex;
    width: 75px;
    justify-content: center;
  }

  #home-button img {
    width: 75px;
  }

  #nav ul li a:hover img {
    transform: scale(1);
  }

  #home-button:hover img,
  #home-button-project-page:hover {
    box-shadow: rgb(255, 255, 255) 0px 0 15px 2px;
    border-radius: 50px;
  }

  #home-button:hover img::after img {
    box-shadow: none;
  }

  .icon-link {
    min-width: 40px;
  }

  .icon-link::after {
    content: none;
  }

  .time-desktop {
    color: white;
    justify-content: center;
    display: flex;
    width: 100%;
    top: 10%;
    position: fixed;
    font-size: 5em;
  }

  /* windows */
  .window {
    border-radius: 10px;
    margin: 5px;
    overflow: hidden;
  }

  .window-header {
    background: none;
    background: rgba(232, 238, 248, 0.5);
    color: #333;
  }

  .window-content {
    background: rgba(232, 238, 248, 0.5);
    /* max-height: calc(100% - 45px); */
    padding-bottom: 100px;
  }

  #about-content {
    overflow-x: hidden;
    overflow: auto;
    margin: 0;
  }

  .typewriter-about {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .typewriter-about::before {
    background: none;
  }

  .typewriter-about span {
    font-size: 0.8em;
    color: #333;
  }

  img#pp-about {
    top: 410px;
    right: 10px;
    width: 75px;
  }

  .portfolio-content {
    padding: 0 10px;
    overflow: auto;
  }

  .project-item {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
  }

  .cover-project {
    border-radius: 10px 10px 0 0;
  }

  .project-overlay {
    font-size: 1em;
  }

  #contact-window-content {
    margin: 0 10px;
    padding: 0;
    overflow: hidden;
    justify-content: flex-start;
  }

  .contact-form {
    background: transparent;
    box-shadow: none;
    width: 100%;
    height: 75%;
  }

  .react-draggable {
    z-index: 1;
  }

  /* ProjectsPage */

  .project-page {
    height: 100vh;
    background: rgb(232, 238, 248);
  }

  .project-header {
    flex-direction: column;
    padding: 0;
    background: rgba(232, 238, 248, 0.5);
    backdrop-filter: blur(5px);
    padding-bottom: 10px;
    height: 70px;
  }

  .title-project h1 {
    font-size: 5vw;
  }

  a.title-project {
    margin-bottom: 5px;
  }

  #tag-container {
    position: relative;
    margin: 5px;
  }

  .tag {
    font-size: 2.5vw;
    padding: 0px 5px 2px;
  }

  .project-body {
    flex-direction: column;
    margin: 100px 0 100px;
    gap: 0;
  }

  .project-body .description-container {
    margin-bottom: 100px;
  }

  .slideshow-container {
    height: 68vw;
    margin: 0;
  }

  img.nav-slideshow {
    width: 25px;
  }

  .nav-btn {
    align-items: end;
  }

  img.nav-slideshow {
    width: 10px;
  }

  .prev-btn,
  .next-btn {
    padding: 0 20%;
  }

  .prev-btn:hover,
  .next-btn:hover {
    background: none;
    border: none;
    border-radius: 0;
  }

  .counter {
    height: unset;
    color: #333;
    background-color: rgba(244, 244, 244, 0.9);
    bottom: 0px;
    height: 30px;
    align-items: center;
    text-shadow: none;
  }

  .typewriter-project-page {
    min-height: 90vw;
    max-height: auto;
    padding: 15px;
  }

  .typewriter-project-page span {
    font-size: 0.8em;
  }

  .project-footer {
    flex-direction: column;
    align-items: center;
    background: rgba(232, 238, 248, 0.5);
    backdrop-filter: blur(5px);
    height: 70px;
    position: fixed;
    padding: 10px;
  }

  .project-footer a {
    padding: 0;
  }

  .project-footer a:hover {
    background: none;
  }

  .github-link {
    position: absolute;
    left: 10px;
    top: 5px;
    padding: 0;
}

  a#github-ico {
    padding: 0;
    min-width: 0;
    background-color: transparent;
  }

  #github-ico img {
    width: 30px;
  }

  .nav-projects {
    display: flex;
    height: 100%;
    gap: 0;
  }

  a.prev-project-button,
  a.next-project-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: none;
    background-color: #333;
    background: none;
  }

  a.prev-project-button span,
  a.next-project-button span {
    font-size: 5em;
    align-items: center;
    margin-bottom: 14px;
  }

  #home-button-project-page {
    display: flex;
    padding: 0;
  }

  #home-button-project-page img {
    width: 75px;
    border-radius: 50px;
    padding: 5px;
  }

  .contact-call-to-action {
    padding: 0;
  }
}
