.portfolio-content {
  display: flex;
  flex-direction: column;
  padding: 20px 10%;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.project-item {
  position: relative;
  margin-bottom: 40px; /* Increased gap between projects */
  cursor: pointer;
display: flex;
justify-content: center;
}

.project-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.project-container:hover {
  box-shadow: black 0px 0px 20px;
}

.cover-project {
  width: 100%;
  transition: filter 0.3s ease, transform 0.3s ease;
  margin-bottom: 02%;
  border-radius: 10px;
}



.project-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;

}

.project-item:hover .cover-project {
  filter: blur(5px) brightness(50%); /* Added brightness for darkening effect */
  transform: scale(1.03); /* Optional: slight zoom effect */
}

.project-item:hover .project-overlay {
  opacity: 1;

}

.portfolio-project-header {
  margin: 10px;
  background: rgba(232, 238, 248, 0.5);
  backdrop-filter: blur(5px);

}

#tag-container Tag {
  margin: 5px;
}

#tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#tag-container-window Tag {
  margin: 5px;
}

#tag-container-window {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background-color: #0078d7;
  color: #fff;
  border-radius: 25px;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;  
}