.project-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh; /* Ensure the container takes at least the full viewport height */
    box-sizing: border-box;
    overflow: auto; /* Allow scrolling within the project-page */
  }
  
  .navigation {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  
  .back-arrow {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
  }
  
  .back-arrow:hover {
    text-decoration: underline;
  }
  
  .project-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #tag-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  #tag-container Tag {
    margin: 5px;
  }
  
  .project-body {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch; /* Ensure children stretch to the same height */
  }
  
  .project-body > * {
    flex: 1;
  }
  
  .project-body .description-container {
    flex: 0 0 30%; /* Description container takes up to 1/3 of the width */
    margin-left: 20px;
    padding: 10px;
    background-color: #1e1e1e;
    color: #d4d4d4;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .description-container .Typewriter {
    white-space: pre-wrap;
  }
  