.icon-link {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.icon-link::after {
  content: attr(data-title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5px;
  padding: 5px;
  background-color: rgb(255, 254, 247);
  color: #000000;
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  z-index: 1000;
}

.icon-link:hover::after {
  opacity: 1;
}