.typewriter {
    font-family: 'Courier New', Courier, monospace;
    color: #d4d4d4;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    font-size: 24px;
  }
  
  .typewriter-cursor {
    font-weight: bold;
    /* font-size: 24px; */
    display: inline-block;
    animation: blink 1s step-end infinite;
  }

  .typewriter-about {
    width: 70%;
    font-size: 24px;
  }

    @keyframes blink {
    from, to {
      visibility: visible;
    }
    50% {
      visibility: hidden;
    }
  }
  